* {
  box-sizing: border-box;
}

html, body {
  background-color: white;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}

.btn {
  background-color: #6366F1;
  color: white;
  padding: 8px 20px;
  border-radius: 3px;
  transition: ease-in-out 30ms;
  display: inline-block;
}
.btn:hover {
  transform: scale(1.05);
}

.light {
  background-color: #EFF2FC;
  color: #33354D;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 40px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 5px 0 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565973;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #6366F1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6366F1;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

header {
  font-weight: 600;
  padding: 10px 0;
  position: relative;
}
header .header-container {
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1400px) {
  header .header-container {
    width: 85%;
  }
}
@media only screen and (max-width: 992px) {
  header .header-container {
    width: 98%;
  }
}
header .header-container nav .nav-container {
  display: flex;
  align-items: center;
  height: 100%;
}
header .header-container nav .nav-container img {
  margin: 0 40px 0 0;
}
@media only screen and (max-width: 1400px) {
  header .header-container nav .nav-container img {
    margin: 0 10px;
  }
}
@media only screen and (max-width: 992px) {
  header .header-container nav .nav-container img {
    width: 100px;
  }
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container img {
    width: auto;
  }
}
header .header-container nav .nav-container .nav-links {
  text-decoration: none;
  text-align: center;
  margin: 0 10px;
  color: #33354D;
  transition: ease-in-out 30ms;
}
@media only screen and (max-width: 1400px) {
  header .header-container nav .nav-container .nav-links {
    margin: 0 8px;
  }
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container .nav-links {
    display: none;
  }
}
header .header-container nav .nav-container .nav-links:hover {
  transform: scale(1.05);
}
header .header-container nav .nav-container p {
  margin: 0 10px;
  color: #565973;
}
@media only screen and (max-width: 1400px) {
  header .header-container nav .nav-container p {
    margin: 0 8px;
  }
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container p {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container .switch {
    display: none;
  }
}
header .header-container nav .nav-container .btn {
  text-align: center;
  margin: 0 10px;
}
@media only screen and (max-width: 992px) {
  header .header-container nav .nav-container .btn {
    padding: 8px 15px;
  }
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container .btn {
    display: none;
  }
}
header .header-container nav .nav-container .btn i {
  margin: 0 10px 0 0;
}
@media only screen and (max-width: 992px) {
  header .header-container nav .nav-container .btn i {
    display: none;
  }
}
header .header-container nav .nav-container button {
  display: none;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 42px;
  padding: 0 5px;
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container button {
    display: block;
  }
}
header .header-container nav .nav-container button:hover {
  background-color: rgba(245, 245, 245, 0.979);
}
header .mobile {
  z-index: 999;
  display: none;
  position: absolute;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.979);
  padding-bottom: 30px;
  padding-bottom: 30px;
}
@media (min-width: 769px) {
  header .mobile {
    display: none !important;
  }
}
header .mobile nav .nav-container {
  display: block;
}
header .mobile nav .nav-container .nav-links, header .mobile nav .nav-container .btn {
  display: block;
  margin: 30px auto;
  width: 70%;
}
header .mobile nav .nav-container .switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .mobile nav .nav-container .switch-container p {
  display: block;
}
header .mobile nav .nav-container .switch-container .switch {
  display: block;
}
header .mobile nav .nav-container .btn {
  margin-bottom: 0;
}
header .mobile nav .nav-container .btn i {
  display: block;
}

main .showcase {
  position: relative;
}
main .showcase .showcase-container {
  width: 1300px;
  margin: auto;
  display: flex;
}
@media only screen and (max-width: 1400px) {
  main .showcase .showcase-container {
    width: 85%;
  }
}
main .showcase .showcase-container .showcase-box {
  margin-top: 60px;
  width: 50%;
}
@media only screen and (max-width: 1400px) {
  main .showcase .showcase-container .showcase-box {
    width: 55%;
  }
}
@media only screen and (max-width: 1200px) {
  main .showcase .showcase-container .showcase-box {
    width: 65%;
  }
}
@media only screen and (max-width: 992px) {
  main .showcase .showcase-container .showcase-box {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  main .showcase .showcase-container .showcase-box {
    text-align: center;
  }
}
main .showcase .showcase-container .showcase-box h1 {
  font-size: 56px;
  margin-bottom: 0;
  padding-right: 100px;
}
@media only screen and (max-width: 768px) {
  main .showcase .showcase-container .showcase-box h1 {
    padding: 0;
    font-size: 45px;
  }
}
main .showcase .showcase-container .showcase-box p {
  padding-right: 180px;
  margin: 25px 0 45px 0;
}
@media only screen and (max-width: 768px) {
  main .showcase .showcase-container .showcase-box p {
    padding: 0;
  }
}
main .showcase .showcase-container .showcase-box .btn {
  padding: 12px 25px;
}
main .showcase .showcase-container .showcase-box h4 {
  margin: 100px 0 45px 0;
}
main .showcase .showcase-container .showcase-box img {
  margin-right: 20px;
}
main .showcase .showcase-container .showcase-image {
  position: absolute;
  right: 0;
  width: 50%;
}
@media only screen and (max-width: 1200px) {
  main .showcase .showcase-container .showcase-image {
    width: 45%;
  }
}
@media only screen and (max-width: 992px) {
  main .showcase .showcase-container .showcase-image {
    display: none;
  }
}
main .our-tool {
  background-color: #F3F6FF;
}
main .our-tool .our-tool-container {
  width: 1300px;
  margin: 230px auto 0 auto;
  padding: 30px 0 150px 0;
}
@media only screen and (max-width: 1400px) {
  main .our-tool .our-tool-container {
    width: 85%;
  }
}
main .our-tool .our-tool-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
main .our-tool .our-tool-container .header-paragraph {
  text-align: center;
  color: #9397AD;
  padding: 0 360px;
  margin: 0;
}
@media only screen and (max-width: 1400px) {
  main .our-tool .our-tool-container .header-paragraph {
    padding: 0;
  }
}
main .our-tool .our-tool-container .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  margin-top: 35px;
}
@media only screen and (max-width: 768px) {
  main .our-tool .our-tool-container .grid {
    grid-template-columns: repeat(auto-fit, 350px);
  }
}
main .our-tool .our-tool-container .grid .grid-container {
  text-align: center;
  border: 1px solid #E2E5F1;
  padding: 20px;
}
main .light-dark {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
main .light-dark .dark-box {
  position: absolute;
  left: 0;
  background-color: #0B0F19;
  width: 50%;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  main .light-dark .dark-box {
    display: none;
  }
}
main .light-dark h2 {
  position: relative;
  margin: 0 0 0 30px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  main .light-dark h2 {
    margin: 0 20px;
  }
}
main .light-dark h2 span {
  color: white;
}
@media only screen and (max-width: 768px) {
  main .light-dark h2 span {
    color: black;
  }
}
main .light-dark img {
  position: relative;
  margin-top: 60px;
}
@media only screen and (max-width: 1200px) {
  main .light-dark img {
    width: 90%;
  }
}