* {
  box-sizing: border-box;
}

html, body {
  background-color: white;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
}

input, button, select {
  font-size: 16px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}

.btn {
  background-color: #6366F1;
  color: white;
  padding: 8px 20px;
  border-radius: 3px;
  transition: ease-in-out 30ms;
  display: inline-block;
}
.btn:hover {
  transform: scale(1.05);
}

.light {
  background-color: #EFF2FC;
  color: #33354D;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 40px;
}

img {
  overflow: hidden;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 5px 0 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565973;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #6366F1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6366F1;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

header {
  font-weight: 600;
  padding: 10px 0;
  position: relative;
}
header .header-container {
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1400px) {
  header .header-container {
    width: 85%;
  }
}
@media only screen and (max-width: 992px) {
  header .header-container {
    width: 98%;
  }
}
header .header-container nav .nav-container {
  display: flex;
  align-items: center;
  height: 100%;
}
header .header-container nav .nav-container img {
  margin: 0 40px 0 0;
}
@media only screen and (max-width: 1400px) {
  header .header-container nav .nav-container img {
    margin: 0 10px;
  }
}
@media only screen and (max-width: 992px) {
  header .header-container nav .nav-container img {
    width: 100px;
  }
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container img {
    width: auto;
  }
}
header .header-container nav .nav-container .nav-links {
  text-decoration: none;
  text-align: center;
  margin: 0 10px;
  color: #33354D;
  transition: ease-in-out 30ms;
}
@media only screen and (max-width: 1400px) {
  header .header-container nav .nav-container .nav-links {
    margin: 0 8px;
  }
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container .nav-links {
    display: none;
  }
}
header .header-container nav .nav-container .nav-links:hover {
  transform: scale(1.05);
}
header .header-container nav .nav-container p {
  margin: 0 10px;
  color: #565973;
}
@media only screen and (max-width: 1400px) {
  header .header-container nav .nav-container p {
    margin: 0 8px;
  }
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container p {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container .switch {
    display: none;
  }
}
header .header-container nav .nav-container .avi {
  border-radius: 50%;
  width: 44px;
  margin-left: 18px;
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container .avi {
    display: none;
  }
}
header .header-container nav .nav-container .btn {
  text-align: center;
  margin: 0 10px;
}
@media only screen and (max-width: 992px) {
  header .header-container nav .nav-container .btn {
    padding: 8px 15px;
  }
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container .btn {
    display: none;
  }
}
header .header-container nav .nav-container .btn i {
  margin: 0 10px 0 0;
}
@media only screen and (max-width: 992px) {
  header .header-container nav .nav-container .btn i {
    display: none;
  }
}
header .header-container nav .nav-container button {
  display: none;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 42px;
  padding: 0 5px;
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container button {
    display: block;
  }
}
header .header-container nav .nav-container button:hover {
  background-color: rgba(245, 245, 245, 0.979);
}
header .mobile {
  z-index: 999;
  display: none;
  position: absolute;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.979);
  padding-bottom: 30px;
  padding-bottom: 30px;
}
@media (min-width: 769px) {
  header .mobile {
    display: none !important;
  }
}
header .mobile nav .nav-container {
  display: block;
}
header .mobile nav .nav-container .nav-links, header .mobile nav .nav-container .btn {
  display: block;
  margin: 30px auto;
  width: 70%;
}
header .mobile nav .nav-container .switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .mobile nav .nav-container .switch-container p {
  display: block;
}
header .mobile nav .nav-container .switch-container .switch {
  display: block;
}
header .mobile nav .nav-container .avi {
  display: block;
  margin: 30px auto 0 auto;
}
header .mobile nav .nav-container .btn {
  margin-bottom: 0;
}
header .mobile nav .nav-container .btn i {
  display: block;
}

main .course-heading {
  background: linear-gradient(0deg, rgba(0, 2, 24, 0.6), rgba(0, 2, 24, 0.6)), url("/images/writing-on-laptop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .course-heading .course-heading-container {
  width: 1300px;
  margin: auto;
  padding: 25px 0 80px 0;
}
@media (max-width: 1400px) {
  main .course-heading .course-heading-container {
    width: 85%;
  }
}
main .course-heading .course-heading-container .breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}
@media (max-width: 1400px) {
  main .course-heading .course-heading-container .breadcrumbs {
    margin-left: 11px;
  }
}
main .course-heading .course-heading-container .breadcrumbs i {
  color: #B4B7C9;
  margin-right: 8px;
}
main .course-heading .course-heading-container .breadcrumbs .fa-chevrons-right {
  font-size: 10px;
  margin: 0 14px;
}
main .course-heading .course-heading-container .breadcrumbs a {
  color: white;
  font-size: 14px;
}
main .course-heading .course-heading-container .breadcrumbs a:hover {
  text-decoration: underline;
}
main .course-heading .course-heading-container .breadcrumbs .home {
  color: #B4B7C9;
}
main .course-heading .course-heading-container .breadcrumbs p {
  display: inline-block;
  color: white;
  font-size: 14px;
}
main .course-heading .course-heading-container .tags {
  display: flex;
}
main .course-heading .course-heading-container .tags p {
  padding: 2px 8px;
  background-color: #EFF2FC;
  font-size: 14px;
  color: #33354D;
  margin: 0 8px 0 0;
  border-radius: 4px;
}
main .course-heading .course-heading-container .tags .best-seller {
  background-color: #22C55E;
  color: white;
}
main .course-heading .course-heading-container h1 {
  font-size: 40px;
  color: white;
  margin: 20px 0 20px 0;
}
main .course-heading .course-heading-container p {
  font-size: 18px;
  color: #B4B7C9;
  margin: 0;
}
main .course-heading .course-heading-container .info {
  display: flex;
  margin-top: 50px;
}
@media (max-width: 768px) {
  main .course-heading .course-heading-container .info {
    display: block;
  }
}
main .course-heading .course-heading-container .info i {
  color: #B4B7C9;
  margin-right: 4px;
}
main .course-heading .course-heading-container .info p {
  margin-left: 3px;
}
main .course-heading .course-heading-container .info div {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
@media (max-width: 768px) {
  main .course-heading .course-heading-container .info div {
    justify-content: center;
    margin-bottom: 5px;
  }
}
main .course-heading .course-heading-container .info .reviews {
  padding-left: 0;
}
main .course-heading .course-heading-container .info .reviews .fa-solid {
  color: #FFBA08;
}
main .course-heading .course-heading-container .info .likes {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
}
@media (max-width: 768px) {
  main .course-heading .course-heading-container .info .likes {
    border: none;
  }
}
main .course-heading .course-heading-container .author {
  display: flex;
  margin-top: 120px;
}
main .course-heading .course-heading-container .author img {
  border-radius: 50%;
  width: 60px;
}
main .course-heading .course-heading-container .author div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 12px;
}
main .course-heading .course-heading-container .author div p {
  font-size: 16px;
  font-weight: 700;
  color: white;
}
main .course-heading .course-heading-container .author div .name {
  font-weight: 400;
}
main .course-intro .course-intro-container {
  width: 1300px;
  margin: 80px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
@media (max-width: 1400px) {
  main .course-intro .course-intro-container {
    width: 85%;
  }
}
@media (max-width: 768px) {
  main .course-intro .course-intro-container {
    display: block;
  }
}
main .course-intro .course-intro-container p {
  color: #565973;
}
main .course-intro .course-intro-container .description-container {
  width: 58%;
}
@media (max-width: 768px) {
  main .course-intro .course-intro-container .description-container {
    width: 90%;
    margin: auto;
    text-align: center;
  }
}
main .course-intro .course-intro-container .description-container h2 {
  margin: 0 0 20px 0;
}
main .course-intro .course-intro-container .description-container h3 {
  font-size: 28px;
  margin: 35px 0 25px 0;
}
main .course-intro .course-intro-container .description-container p i {
  color: #6366F1;
  margin-right: 8px;
}
main .course-intro .course-intro-container .card {
  padding: 35px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.075);
  border-radius: 5px;
}
@media (max-width: 768px) {
  main .course-intro .course-intro-container .card {
    margin-top: 50px;
    text-align: center;
  }
}
main .course-intro .course-intro-container .card h4 {
  font-size: 24px;
  margin: 0 0 15px 0;
}
main .course-intro .course-intro-container .card p i {
  margin-right: 8px;
}
main .course-intro .course-intro-container .card .price {
  font-size: 32px;
  font-weight: 700;
  color: black;
  margin: 30px 0 15px 0;
  display: flex;
  align-items: start;
}
@media (max-width: 768px) {
  main .course-intro .course-intro-container .card .price {
    justify-content: center;
  }
}
main .course-intro .course-intro-container .card .price span {
  font-size: 20px;
  color: #9397AD;
  text-decoration: line-through;
  font-weight: 400;
  margin: 6px 0 0 10px;
}
main .course-intro .course-intro-container .card .btn {
  margin: 0;
  padding: 12px 24px;
}
main .program-details {
  margin-top: 80px;
}
main .program-details .program-details-container {
  width: 1300px;
  margin: auto;
}
@media (max-width: 1400px) {
  main .program-details .program-details-container {
    width: 85%;
  }
}
main .program-details .program-details-container h2 {
  margin-bottom: 20px;
}
main .program-details .program-details-container .details-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  -moz-column-gap: 35px;
       column-gap: 35px;
  align-items: center;
  width: 750px;
}
@media (max-width: 992px) {
  main .program-details .program-details-container .details-container {
    width: 100%;
  }
}
main .program-details .program-details-container .details-container .number {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0;
  outline: 10px solid #F3F6FF;
  border-radius: 50%;
}
main .program-details .program-details-container .details-container div {
  margin: 22px 0;
}
main .program-details .program-details-container .details-container div h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px 0;
}
main .program-details .program-details-container .details-container div p {
  color: #565973;
  margin: 0;
}

footer {
  padding: 60px 20px;
}
footer .socials {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin: 0 auto 30px auto;
}
footer .socials a {
  padding: 10px 12px;
  background-color: #EFF2FC;
  border-radius: 5px;
  transition: ease-in-out 30ms;
}
footer .socials a:hover {
  transform: scale(1.05);
}
footer .socials a i {
  color: #33354D;
  font-size: 20px;
}
footer .socials a:last-child i {
  font-size: 17px;
}
footer p {
  color: #9397AD;
  max-width: 850px;
  text-align: center;
  font-size: 14px;
  margin: auto;
}