<!DOCTYPE html>
<html lang="sv-se">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" />
    <script defer src="https://kit.fontawesome.com/41c8b474e2.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <header>
            @await Html.PartialAsync("~/Views/Shared/Components/_Header.cshtml")
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            footer
        </footer>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
