<section class="download-our-app">
    <div class="download-our-app-container">
        <div class="image-container">
            <img src="~/images/app.png" alt="App">
        </div>
        <div class="app-download">
            <h2>Download Our App for Any Devices:</h2>
            <div class="app-download-container">
                <div class="store-and-reviews">
                    <p class="store">App Store</p>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h3>Editor's Choice</h3>
                    <p class="rating-reviews">
                        rating 4.7, 187K+ reviews
                    </p>
                </div>
                <div class="download">
                    <a href=""><img src="~/images/appstore.svg" alt="App store"></a>
                </div>
            </div>
            <div class="app-download-container">
                <div class="store-and-reviews">
                    <p class="store">Google Play</p>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h3>App of the Day</h3>
                    <p class="rating-reviews">
                        rating 4.8, 30K+ reviews
                    </p>
                </div>
                <div class="download">
                    <a href=""><img src="~/images/googleplay.svg" alt="Google play"></a>
                </div>
            </div>
        </div>
    </div>
</section>