<section class="integrate">
    <div class="integrate-container">
        <h2>Integrate Top Work Tools</h2>
        <p class="integrate-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.
        </p>
        <div class="integrate-grid">
            <div>
                <img src="~/images/google.svg" alt="Google logo">
                <p>
                    Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.
                </p>
            </div>
            <div>
                <img src="~/images/camera-logo.svg" alt="Camera logo">
                <p>
                    In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.
                </p>
            </div>
            <div>
                <img src="~/images/colors-logo.svg" alt="Colors logo">
                <p>
                    Id mollis consectetur congue egestas egestas suspendisse blandit justo.
                </p>
            </div>
            <div>
                <img src="~/images/gmail.svg" alt="Gmail logo">
                <p>
                    Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.
                </p>
            </div>
            <div>
                <img src="~/images/idk-logo.svg" alt="Some logo">
                <p>
                    Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.
                </p>
            </div>
            <div>
                <img src="~/images/monkey-logo.svg" alt="Monkey logo">
                <p>
                    A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.
                </p>
            </div>
            <div>
                <img src="~/images/dropbox.svg" alt="Dropbox logo">
                <p>
                    Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.
                </p>
            </div>
            <div>
                <img src="~/images/elephant-logo.svg" alt="Elephant logo">
                <p>
                    Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.
                </p>
            </div>
        </div>
    </div>
</section>