<section class="manage-your-work">
    <div class="manage-your-work-container">
        <img src="~/images/task_master.png" alt="Task master">
        <div>
            <h3>Manage Your Work</h3>
            <p><i class="fa-regular fa-circle-check"></i>Powerful project management</p>
            <p><i class="fa-regular fa-circle-check"></i>Transparent work management</p>
            <p><i class="fa-regular fa-circle-check"></i>Manage work & focus on the most important tasks</p>
            <p><i class="fa-regular fa-circle-check"></i>Track your progress with interactive charts</p>
            <p><i class="fa-regular fa-circle-check"></i>Easiest way to track time spent on tasks</p>
            <a class="btn" href="">Learn more<i class="fa-regular fa-arrow-right"></i></a>
        </div>
    </div>
</section>