<section class="newsletter">
    <div class="newsletter-container">
        <h2>Don't Want to Miss Anything? <img src="~/images/squiggle.svg" alt="Squiggle"></h2>
        <div class="sign-up">
            <h3>Sign up for Newsletters</h3>
            <div class="sign-up-grid">
                <div>
                    <input type="checkbox" id="daily-newsletter" />
                    <label for="daily-newsletter"> Daily Newsletter</label>
                </div>
                <div>
                    <input type="checkbox" id="event-updates" />
                    <label for="event-updates"> Event Updates</label>
                </div>
                <div>
                    <input type="checkbox" id="advertising-updates" />
                    <label for="advertising-updates"> Advertising Updates</label>
                </div>
                <div>
                    <input type="checkbox" id="startups-weekly" />
                    <label for="startups-weekly"> Startups Weekly</label>
                </div>
                <div>
                    <input type="checkbox" id="week-in-review" />
                    <label for="week-in-review"> Week in Review</label>
                </div>
                <div>
                    <input type="checkbox" id="podcasts" />
                    <label for="podcasts"> Podcasts</label>
                </div>
            </div>
        </div>
        <div class="input-container">
            <i class="fa-regular fa-envelope"></i>
            <input type="text" placeholder="Your Email"></input>
            <button class="btn">Subscribe *</button>
        </div>
        <p>
            * Yes, I agree to the <a href="">terms</a> and <a href="">privacy</a> policy.
        </p>
    </div>
</section>