<section id="features" class="our-tool">
    <div class="our-tool-container">
        <h2>What Do You Get with Our Tool?</h2>
        <p class="header-paragraph">
            Make sure all your tasks are organized so you can set the priorities and focus on important.
        </p>
        <div class="grid">
            <div class="grid-container">
                <img src="~/images/comments.svg" alt="Comments">
                <h3>Comments on Tasks</h3>
                <p>
                    Id mollis consectetur congue egestas egestas suspendisse blandit justo.
                </p>
            </div>
            <div class="grid-container">
                <img src="~/images/analytics.svg" alt="Analytics">
                <h3>Tasks Analytics</h3>
                <p>
                    Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.
                </p>
            </div>
            <div class="grid-container">
                <img src="~/images/assignees.svg" alt="Assignees">
                <h3>Multiple Assignees</h3>
                <p>
                    A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.
                </p>
            </div>
            <div class="grid-container">
                <img src="~/images/notifications.svg" alt="Notifications">
                <h3>Notifications</h3>
                <p>
                    Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.
                </p>
            </div>
            <div class="grid-container">
                <img src="~/images/tasks.svg" alt="Tasks">
                <h3>Sections & Subtasks</h3>
                <p>
                    Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.
                </p>
            </div>
            <div class="grid-container">
                <img src="~/images/security.svg" alt="Security">
                <h3>Data Security</h3>
                <p>
                    Aliquam malesuada neque eget elit nulla vestibulum nunc cras.
                </p>
            </div>
        </div>
    </div>
</section>