<section class="showcase">
    <div class="showcase-container">
        <div class="showcase-box">
            <h1>
                Task Management Assistant You Gonna Love
            </h1>
            <p>
                We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.
            </p>
            <a class="btn" href="">Get started for free</a>
            <h4>
                Largest companies use our tool to work efficiently
            </h4>
            <div class="logos">
                <img src="/images/logoipsum.svg" alt="Logo">
                <img src="/images/logoipsum2.svg" alt="Logo2">
                <img src="/images/logoipsum3.svg" alt="Logo3">
                <img src="/images/logoipsum4.svg" alt="Logo4">
            </div>
        </div>
        <img class="showcase-image" src="~/images/showcase_image.png" alt="Task master">
    </div>
</section>