@{
    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    bool isDark = (themeMode == "dark");
}

@section Styles {
    <link rel="stylesheet" href="~/css/views/account_security@(isDark ? "_dark" : "").min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/account_sidebar@(isDark ? "_dark" : "").min.css" asp-append-version="true" />
}

@section Script {
    <script src="~/js/validation.js" asp-append-version="true"></script>
}

@await Html.PartialAsync("~/Views/Shared/Components/_AccountSecuritySidebar.cshtml")

<section class="security">
    <h1>Security</h1>
    @await Html.PartialAsync("~/Views/Shared/Sections/Account/Security/_PasswordForm.cshtml")
    @await Html.PartialAsync("~/Views/Shared/Sections/Account/Security/_DeleteAccountForm.cshtml")
</section>