<section class="course-intro">
    <div class="course-intro-container">
        <div class="description-container">
            <h2>Course Description</h2>
            <p>Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
            <h3>What you'll learn</h3>
            <p><i class="fa-regular fa-circle-check"></i>Sed lectus donec amet eu turpis interdum.</p>
            <p><i class="fa-regular fa-circle-check"></i>Nulla at consectetur vitae dignissim porttitor.</p>
            <p><i class="fa-regular fa-circle-check"></i>Phasellus id vitae dui aliquet mi.</p>
            <p><i class="fa-regular fa-circle-check"></i>Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</p>
            <p><i class="fa-regular fa-circle-check"></i>In aenean dolor diam tortor orci eu.</p>
        </div>
        <div class="card">
            <h4>This course includes:</h4>
            <p><i class="fa-regular fa-play"></i>148 hours on-demand video</p>
            <p><i class="fa-regular fa-file-lines"></i>18 articles</p>
            <p><i class="fa-regular fa-download"></i>25 downloadable resources</p>
            <p><i class="fa-regular fa-infinity"></i>Full lifetime access</p>
            <p><i class="fa-regular fa-trophy"></i>Certificate of completion</p>
            <p class="price">$28.99 <span>$49.00</span></p>
            <a class="btn" href="">Join course</a>
        </div>
    </div>
</section>