<section class="course-heading">
    <div class="course-heading-container">
        <div class="breadcrumbs">
            <i class="fa-regular fa-house"></i>
            <a class="home" href="">Home</a>
            <i class="fa-regular fa-chevrons-right"></i>
            <a href="">Courses</a>
            <i class="fa-regular fa-chevrons-right"></i>
            <p>Fullstack Web Developer Course from Scratch</p>
        </div>
        <div class="tags">
            <p class="best-seller">Best Seller</p>
            <p>Digital</p>
        </div>
        <h1>Fullstack Web Developer Course from Scratch</h1>
        <p>Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</p>
        <div class="info">
            <div class="reviews">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p>(1.2K reviews)</p>
            </div>
            <div class="likes">
                <i class="fa-regular fa-thumbs-up"></i>
                <p>5K likes</p>
            </div>
            <div class="length">
                <i class="fa-regular fa-clock"></i>
                <p>148 hours</p>
            </div>
        </div>
        <div class="author">
            <img src="~/images/profile-pic.png" alt="Author">
            <div>
                <p>Created by</p>
                <p class="name">Albert Flores</p>
            </div>
        </div>
    </div>
</section>