<section class="program-details">
    <div class="program-details-container">
        <h2>Program Details</h2>
        <div class="details-container">
            <p class="number">1</p>
            <div>
                <h4>Introduction. Getting started</h4>
                <p>Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
            </div>
        </div>
        <div class="details-container">
            <p class="number">2</p>
            <div>
                <h4>The ultimate HTML developer: advanced HTML</h4>
                <p>Lobortis diam elit id nibh ultrices sed penatibus donec. Nibh iaculis eu sit cras ultricies. Nam eu eget etiam egestas donec scelerisque ut ac enim. Vitae ac nisl, enim nec accumsan vitae est.</p>
            </div>
        </div>
        <div class="details-container">
            <p class="number">3</p>
            <div>
                <h4>CSS & CSS3: basic</h4>
                <p>Duis euismod enim, facilisis risus tellus pharetra lectus diam neque. Nec ultrices mi faucibus est. Magna ullamcorper potenti elementum ultricies auctor nec volutpat augue.</p>
            </div>
        </div>
        <div class="details-container">
            <p class="number">4</p>
            <div>
                <h4>JavaScript basics for beginners</h4>
                <p>Morbi porttitor risus imperdiet a, nisl mattis. Amet, faucibus eget in platea vitae, velit, erat eget velit. At lacus ut proin erat.</p>
            </div>
        </div>
        <div class="details-container">
            <p class="number">5</p>
            <div>
                <h4>Understanding APIs</h4>
                <p>Risus morbi euismod in congue scelerisque fusce pellentesque diam consequat. Nisi mauris nibh sed est morbi amet arcu urna. Malesuada feugiat quisque consectetur elementum diam vitae. Dictumst facilisis odio eu quis maecenas risus odio fames bibendum.</p>
            </div>
        </div>
        <div class="details-container">
            <p class="number">6</p>
            <div>
                <h4>C# and .NET from beginner to advanced</h4>
                <p>Quis risus quisque diam diam. Volutpat neque eget eu faucibus sed urna fermentum risus. Est, mauris morbi nibh massa.</p>
            </div>
        </div>
    </div>
</section>