<section class="security">
    <h1>Security</h1>
    <div class="password-form">
        <h3>Password</h3>
        <form>
            <label for="current-pass">Current password</label>
            <input type="password" id="current-pass" name="current-pass" placeholder="********">
            <div class="double-input-container">
                <div>
                    <label for="new-pass">New password</label>
                    <input type="password" id="new-pass" name="new-pass" placeholder="********">
                </div>
                <div>
                    <label for="confirm-pass">Confirm new password</label>
                    <input type="password" id="confirm-pass" name="confirm-pass" placeholder="********">
                </div>
            </div>
            <div class="btn-container">
                <button class="btn light">Cancel</button>
                <button class="btn">Change password</button>
            </div>
        </form>
    </div>
    <div class="delete-form">
        <h3>Delete account</h3>
        <p>When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we'll send you a link to reactivate your account.</p>
        <form>
            <input type="checkbox" id="delete-account" />
            <label for="delete-account"> Yes, I want to delete my account.</label>
            <div class="btn-container">
                <button class="btn">Delete</button>
            </div>
        </form>
    </div>
</section>