@model SignInViewModel

<section class="sign-in">
    <h1>Welcome Back</h1>
    <p class="sign-up-here">Don't have an account yet? <a asp-controller="Account" asp-action="SignUp">Sign up here.</a></p>
    <form method="post" asp-controller="Account" asp-action="SignIn" novalidate>
        <label asp-for="Form.Email"></label>
        <input asp-for="Form.Email" class="text-input" />
        <span asp-validation-for="Form.Email"></span>
        <label asp-for="Form.Password"></label>
        <input asp-for="Form.Password" class="text-input" />
        <span asp-validation-for="Form.Password"></span>
        <div class="remember-me-container">
            <input asp-for="Form.RememberMe" data-val="" data-val-required=""/>
            <label asp-for="Form.RememberMe"></label>
        </div>
        <button type="submit" class="btn">Sign in</button>
        <div class="forgot-password-container">
            <a href="">Forgot your password?</a>
        </div>
        <div class="socials-container">
            <p>Or sign in with your social network</p>
            <div>
                <a class="btn light" href=""><i class="fa-brands fa-google"></i>Google</a>
                <a class="btn light" href=""><i class="fa-brands fa-facebook-f"></i>Facebook</a>
            </div>
        </div>
    </form>
</section>