<section class="sign-up">
    <h1>Create Account</h1>
    <p class="sign-in-here">Already have an account? <a asp-controller="Account" asp-action="SignIn">Sign in here.</a></p>
    <form>
        <div class="name-container">
            <div>
                <label for="fname">First name</label>
                <input type="text" id="fname" name="fname" placeholder="Enter your first name">
            </div>
            <div>
                <label for="lname">Last name</label>
                <input type="text" id="lname" name="lname" placeholder="Enter your last name">
            </div>
        </div>
        <label for="email">Email address</label>
        <input type="email" id="email" name="email" placeholder="Enter your email address">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="********">
        <label for="conf-password">Confirm password</label>
        <input type="conf-password" id="conf-password" name="conf-password" placeholder="********">
        <div class="terms-container">
            <input type="checkbox" id="terms" name="terms" />
            <label for="terms">I agree to the <a href="">Terms</a> & <a href="">Conditions.</a></label>
        </div>
        <button class="btn">Sign up</button>
    </form>
</section>