* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    background-color: #0B0F19;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
}

input, button {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
}

.btn {
    background-color: #6366F1;
    color: white;
    padding: 8px 20px;
    border-radius: 3px;
    transition: ease-in-out 30ms;
    display: inline-block;

    &:hover {
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}

.light {
    background-color: #33354D;
    color: #EFF2FC;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 40px;
}

img {
    overflow: hidden; //Detta f'r att Chrome av n'gon anledning l'gger till en annan overflow property p' bilder, som sabbar responsiviteten.
}

//Toggle switch fr'n W3Schools

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 5px 0 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #565973;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #6366F1;
}

input:focus + .slider {
    box-shadow: 0 0 1px #6366F1;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

//Header

header {
    font-weight: 600;
    padding: 10px 0;
    position: relative;

    .header-container {
        width: 1300px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 1400px) {
            width: 85%;
        }

        @media only screen and (max-width: 992px) {
            width: 98%;
        }

        nav {
            .nav-container {
                display: flex;
                align-items: center;
                height: 100%;

                .logo {
                    margin: 0 40px 0 0;
                    display: flex;
                    align-items: center;

                    @media only screen and (max-width: 1400px) {
                        margin: 0 10px;
                    }

                    @media only screen and (max-width: 992px) {
                        width: 100px;
                    }

                    @media only screen and (max-width: 768px) {
                        width: auto;
                    }
                }

                .nav-links {
                    text-decoration: none;
                    text-align: center;
                    margin: 0 10px;
                    color: #EFF2FC;
                    transition: ease-in-out 30ms;

                    @media only screen and (max-width: 1400px) {
                        margin: 0 8px;
                    }

                    @media only screen and (max-width: 768px) {
                        display: none;
                    }

                    &:hover {
                        -moz-transform: scale(1.05);
                        -ms-transform: scale(1.05);
                        -o-transform: scale(1.05);
                        -webkit-transform: scale(1.05);
                        transform: scale(1.05);
                    }
                }

                p {
                    margin: 0 10px;
                    color: #E2E5F1;

                    @media only screen and (max-width: 1400px) {
                        margin: 0 8px;
                    }

                    @media only screen and (max-width: 768px) {
                        display: none;
                    }
                }

                .switch {
                    @media only screen and (max-width: 768px) {
                        display: none;
                    }
                }

                .avi-button {
                    margin-left: 18px;
                    width: 44px;

                    @media only screen and (max-width: 768px) {
                        display: none;
                    }

                    .avi {
                        border-radius: 50%;
                        width: 100%;
                    }
                }

                .btn {
                    text-align: center;
                    margin: 0 10px;

                    @media only screen and (max-width: 992px) {
                        padding: 8px 15px;
                    }

                    @media only screen and (max-width: 768px) {
                        display: none;
                    }

                    i {
                        margin: 0 10px 0 0;

                        @media only screen and (max-width: 992px) {
                            display: none;
                        }
                    }
                }

                button {
                    display: none;
                    background-color: transparent;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                    font-size: 42px;
                    padding: 0 5px;

                    color: white;


                    @media only screen and (max-width: 768px) {
                        display: block;
                    }

                    &:hover {
                        background-color: rgba(245, 245, 245, 0.1);
                    }
                }
            }
        }
    }

    .mobile {
        z-index: 999;
        display: none;
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.979);
        padding-bottom: 30px;
        padding-bottom: 30px;

        @media(min-width: 769px) {
            display: none !important;
        }

        nav {
            .nav-container {
                display: block;

                .nav-links, .btn {
                    display: block;
                    margin: 30px auto;
                    width: 70%;
                }

                .switch-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        display: block;
                    }

                    .switch {
                        display: block;
                    }
                }

                .avi-button {
                    display: block;
                    margin: 30px auto 0 auto;
                }

                .btn {
                    margin-bottom: 0;

                    i {
                        display: block;
                    }
                }
            }
        }
    }
}

// Footer

footer {
    padding: 60px 20px;

    .socials {
        display: flex;
        justify-content: space-between;
        width: 220px;
        margin: 0 auto 30px auto;

        a {
            padding: 10px 12px;
            background-color: #33354D;
            border-radius: 5px;
            transition: ease-in-out 30ms;

            &:hover {
                -moz-transform: scale(1.05);
                -ms-transform: scale(1.05);
                -o-transform: scale(1.05);
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }

            i {
                color: white;
                font-size: 20px;
            }

            &:last-child {
                i {
                    font-size: 17px;
                }
            }
        }
    }

    p {
        color: #D4D7E5;
        max-width: 850px;
        text-align: center;
        font-size: 14px;
        margin: auto;
    }
}
