* {
    box-sizing: border-box;
}

html, body {
    background-color: white;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
}

//Toggle switch fr'n W3Schools

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 5px 0 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #565973;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #6366F1;
}

input:focus + .slider {
    box-shadow: 0 0 1px #6366F1;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

//Header

header {
    font-weight: 600;
    padding: 10px 0;
    position: relative;

    .header-container {
        width: 1300px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 1400px) {
            width: 85%;
        }

        @media only screen and (max-width: 992px) {
            width: 98%;
        }

        nav {
            .nav-container {
                display: flex;
                align-items: center;
                height: 100%;

                img {
                    margin: 0 40px 0 0;

                    @media only screen and (max-width: 1400px) {
                        margin: 0 10px;
                    }

                    @media only screen and (max-width: 992px) {
                        width: 100px;
                    }

                    @media only screen and (max-width: 768px) {
                        width: auto;
                    }
                }

                a {
                    text-decoration: none;
                    text-align: center;
                    margin: 0 10px;
                    color: #33354D;
                    transition: ease-in-out 30ms;

                    @media only screen and (max-width: 1400px) {
                        margin: 0 8px;
                    }

                    @media only screen and (max-width: 768px) {
                        display: none;
                    }

                    &:hover {
                        -moz-transform: scale(1.05);
                        -ms-transform: scale(1.05);
                        -o-transform: scale(1.05);
                        -webkit-transform: scale(1.05);
                        transform: scale(1.05);
                    }
                }

                p {
                    margin: 0 10px;
                    color: #565973;

                    @media only screen and (max-width: 1400px) {
                        margin: 0 8px;
                    }

                    @media only screen and (max-width: 768px) {
                        display: none;
                    }
                }

                .switch {
                    @media only screen and (max-width: 768px) {
                        display: none;
                    }
                }

                .sign-in {
                    background-color: #EFF2FC;
                    padding: 8px 20px;
                    border-radius: 3px;

                    @media only screen and (max-width: 992px) {
                        padding: 8px 15px;
                    }

                    i {
                        margin: 0 10px 0 0;

                        @media only screen and (max-width: 992px) {
                            display: none;
                        }
                    }
                }

                .sign-up {
                    background-color: #6366F1;
                    color: white;
                }

                button {
                    display: none;
                    background-color: transparent;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                    font-size: 42px;
                    padding: 0 5px;


                    @media only screen and (max-width: 768px) {
                        display: block;
                    }

                    &:hover {
                        background-color: rgba(245, 245, 245, 0.877);
                    }
                }
            }
        }
    }

    .mobile {
        display: none;
        position: absolute;
        width: 100%;
        background-color: rgba(245, 245, 245, 0.877);

        @media(min-width: 769px) {
            display: none !important;
        }

        nav {
            .nav-container {
                display: block;

                a {
                    display: block;
                    margin: 30px auto;
                    width: 70%;
                }

                .switch-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        display: block;
                    }

                    .switch {
                        display: block;
                    }
                }

                .sign-in {
                    margin: 30px auto 0px auto;

                    i {
                        display: block;
                    }
                }

                .sign-up {
                    margin-bottom: 30px;
                }
            }
        }
    }
}
