.courses {
  width: 1300px;
  margin: auto;
}
@media (max-width: 1400px) {
  .courses {
    width: 85%;
  }
}
@media (max-width: 992px) {
  .courses {
    width: 98%;
  }
}
.courses .breadcrumbs {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 1400px) {
  .courses .breadcrumbs {
    margin-left: 11px;
  }
}
.courses .breadcrumbs i {
  color: #9397AD;
  margin-right: 8px;
}
.courses .breadcrumbs .fa-chevrons-right {
  font-size: 10px;
  margin: 0 14px;
}
.courses .breadcrumbs a {
  color: #9397AD;
  font-size: 14px;
}
.courses .breadcrumbs a:hover {
  text-decoration: underline;
}
.courses .breadcrumbs p {
  color: #6366F1;
  display: inline-block;
  font-size: 14px;
}
.courses .heading-and-categories {
  display: flex;
}
@media (max-width: 1400px) {
  .courses .heading-and-categories {
    padding: 0 10px;
  }
}
@media (max-width: 768px) {
  .courses .heading-and-categories {
    display: block;
  }
}
.courses .heading-and-categories h1 {
  font-size: 40px;
  margin: 10px 0;
}
@media (max-width: 768px) {
  .courses .heading-and-categories h1 {
    text-align: center;
  }
}
.courses .heading-and-categories .inputs {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}
@media (max-width: 768px) {
  .courses .heading-and-categories .inputs {
    display: block;
    margin-top: 25px;
  }
}
.courses .heading-and-categories .inputs .select-container {
  width: 20%;
  min-width: 200px;
  margin-right: 25px;
}
@media (max-width: 768px) {
  .courses .heading-and-categories .inputs .select-container {
    margin: 0 auto 15px auto;
  }
}
.courses .heading-and-categories .inputs .select-container select {
  padding: 10px;
  border: none;
  border-right: 12px solid transparent;
  outline: 1px solid #D4D7E5;
  border-radius: 6px;
  color: #565973;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
}
.courses .heading-and-categories .inputs .input-container {
  width: 26%;
  min-width: 260px;
  position: relative;
}
@media (max-width: 768px) {
  .courses .heading-and-categories .inputs .input-container {
    margin: auto;
  }
}
.courses .heading-and-categories .inputs .input-container i {
  position: absolute;
  right: 15px;
  top: 11px;
  font-size: 18px;
  color: #33354D;
}
.courses .heading-and-categories .inputs .input-container input {
  padding: 10px;
  border: none;
  outline: 1px solid #D4D7E5;
  border-radius: 6px;
  width: 100%;
}
.courses .courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .courses .courses-grid {
    margin-top: 40px;
  }
}
.courses .courses-grid .grid-container {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}
.courses .courses-grid .grid-container button {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #33354D;
  padding: 7px 12px;
  background-color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: ease-in-out 80ms;
}
.courses .courses-grid .grid-container button:hover {
  background-color: rgb(231, 231, 231);
}
.courses .courses-grid .grid-container .best-seller {
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: #22C55E;
  color: white;
  font-size: 14px;
}
.courses .courses-grid .grid-container img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.courses .courses-grid .grid-container .content-container {
  width: 90%;
  margin: auto;
  display: block;
  transition: ease-in-out 30ms;
}
.courses .courses-grid .grid-container .content-container:hover {
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.courses .courses-grid .grid-container .content-container h3 {
  font-size: 20px;
  margin-bottom: 12px;
  color: black;
}
.courses .courses-grid .grid-container .content-container .author {
  color: #565973;
  font-size: 14px;
  margin-bottom: 12px;
}
.courses .courses-grid .grid-container .content-container .price {
  color: #6366F1;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}
.courses .courses-grid .grid-container .content-container .discounted-price {
  color: red;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}
.courses .courses-grid .grid-container .content-container .discounted-price span {
  color: #565973;
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
}
.courses .courses-grid .grid-container .content-container div {
  display: flex;
  align-items: center;
  border-top: 1px solid #E2E5F1;
  margin-top: 12px;
}
.courses .courses-grid .grid-container .content-container div i {
  margin-right: 6px;
  color: #9397AD;
}
.courses .courses-grid .grid-container .content-container div p {
  margin-right: 20px;
  color: #9397AD;
}
.courses .pagnation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 80px 0;
}
.courses .pagnation button {
  cursor: pointer;
  border: none;
  font-size: 14px;
  color: #33354D;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin: 0 4px;
  transition: ease-in-out 80ms;
  background-color: white;
}
.courses .pagnation button:hover {
  background-color: rgb(231, 231, 231);
}
.courses .pagnation button i {
  font-size: 10px;
}
.courses .pagnation .active {
  background-color: #6366F1;
  color: white;
}
.courses .pagnation .active:hover {
  color: #33354D;
}

.work-with-us {
  margin-bottom: 20px;
}
.work-with-us .work-with-us-container {
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  background-color: #F3F6FF;
  padding: 30px 4% 30px 0;
}
@media (max-width: 1400px) {
  .work-with-us .work-with-us-container {
    width: 85%;
  }
}
@media (max-width: 992px) {
  .work-with-us .work-with-us-container {
    padding: 30px 0 30px 0;
  }
}
.work-with-us .work-with-us-container .flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-with-us .work-with-us-container .flex .flex-container {
  width: 75%;
}
@media (max-width: 768px) {
  .work-with-us .work-with-us-container .flex .flex-container {
    text-align: center;
  }
}
.work-with-us .work-with-us-container .flex .flex-container p {
  font-size: 24px;
  color: #565973;
  margin: 0;
}
.work-with-us .work-with-us-container .flex .flex-container h2 {
  font-size: 40px;
  margin-top: 20px;
}
.work-with-us .work-with-us-container .flex .flex-container h2 span {
  color: #6366F1;
}
.work-with-us .work-with-us-container .flex .flex-container .btn {
  padding: 12px 24px;
  border-radius: 6px;
}
.work-with-us .work-with-us-container img {
  margin-left: -6%;
}
@media (max-width: 768px) {
  .work-with-us .work-with-us-container img {
    display: none;
  }
}
