main {
  width: 1300px;
  margin: 0 auto 45px auto;
  display: grid;
  grid-template-columns: 318px 1fr;
}
@media only screen and (max-width: 1400px) {
  main {
    width: 85%;
  }
}
@media only screen and (max-width: 992px) {
  main {
    grid-template-columns: 220px 1fr;
  }
}
@media only screen and (max-width: 768px) {
  main {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    width: 98%;
  }
}
main .saved-courses {
  padding: 50px 110px;
}
@media only screen and (max-width: 1400px) {
  main .saved-courses {
    padding: 50px;
  }
}
@media only screen and (max-width: 768px) {
  main .saved-courses {
    padding: 0;
  }
}
main .saved-courses .heading-and-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1400px) {
  main .saved-courses .heading-and-delete {
    padding: 0 10px;
  }
}
@media (max-width: 768px) {
  main .saved-courses .heading-and-delete {
    display: block;
  }
}
main .saved-courses .heading-and-delete h1 {
  font-size: 32px;
  margin: 10px 0;
}
@media (max-width: 768px) {
  main .saved-courses .heading-and-delete h1 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  main .saved-courses .heading-and-delete .delete-container {
    text-align: center;
    margin-top: 22px;
  }
}
main .saved-courses .heading-and-delete .delete-container .btn {
  background-color: #0B0F19;
  border: 1px solid #EF4444;
  border-radius: 6px;
  color: #EF4444;
  cursor: pointer;
  padding: 10px 22px;
  font-size: 14px;
}
main .saved-courses .heading-and-delete .delete-container .btn i {
  font-size: 16px;
  margin-right: 8px;
}
main .saved-courses .courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  main .saved-courses .courses-grid {
    margin-top: 40px;
  }
}
main .saved-courses .courses-grid .grid-container {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}
main .saved-courses .courses-grid .grid-container button {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #33354D;
  padding: 7px 12px;
  background-color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: ease-in-out 80ms;
}
main .saved-courses .courses-grid .grid-container button:hover {
  background-color: rgb(231, 231, 231);
}
main .saved-courses .courses-grid .grid-container .best-seller {
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: #22C55E;
  color: white;
  font-size: 14px;
}
main .saved-courses .courses-grid .grid-container img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
main .saved-courses .courses-grid .grid-container .content-container {
  width: 90%;
  margin: auto;
  display: block;
  transition: ease-in-out 30ms;
}
main .saved-courses .courses-grid .grid-container .content-container:hover {
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
main .saved-courses .courses-grid .grid-container .content-container h3 {
  font-size: 20px;
  margin-bottom: 12px;
  color: black;
}
main .saved-courses .courses-grid .grid-container .content-container .author {
  color: #E2E5F1;
  font-size: 14px;
  margin-bottom: 12px;
}
main .saved-courses .courses-grid .grid-container .content-container .price {
  color: #6366F1;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}
main .saved-courses .courses-grid .grid-container .content-container div {
  display: flex;
  align-items: center;
  border-top: 1px solid #565973;
  margin-top: 12px;
}
main .saved-courses .courses-grid .grid-container .content-container div i {
  margin-right: 6px;
  color: #D4D7E5;
}
main .saved-courses .courses-grid .grid-container .content-container div p {
  margin-right: 20px;
  color: #D4D7E5;
}
