.sign-in {
  width: 540px;
  margin: 80px auto 0 auto;
}
@media (max-width: 768px) {
  .sign-in {
    width: 85%;
  }
}
.sign-in h1 {
  font-size: 40px;
  margin: 0;
}
.sign-in .sign-up-here {
  color: #565973;
  margin-bottom: 35px;
}
.sign-in .sign-up-here a {
  color: #6366F1;
}
.sign-in .sign-up-here a:hover {
  text-decoration: underline;
}
.sign-in form label {
  font-weight: 700;
  display: block;
  margin-bottom: 8px;
}
.sign-in form #email, .sign-in form #password {
  width: 100%;
  padding: 12px 18px;
  border: none;
  outline: 1px solid #D4D7E5;
  border-radius: 6px;
  margin-bottom: 22px;
}
@media (max-width: 768px) {
  .sign-in form #email, .sign-in form #password {
    font-size: 14px;
  }
}
.sign-in form .remember-me-container label {
  display: inline;
  font-weight: 400;
  color: #565973;
}
.sign-in form .btn {
  display: block;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 22px 0;
  padding: 12px 0;
  width: 100%;
}
.sign-in form .forgot-password-container {
  display: flex;
  justify-content: center;
}
.sign-in form .forgot-password-container a {
  color: #6366F1;
  font-weight: 700;
}
.sign-in form .forgot-password-container a:hover {
  text-decoration: underline;
}
.sign-in form .socials-container {
  margin-top: 30px;
  border-top: 1px solid #E2E5F1;
}
.sign-in form .socials-container p {
  font-weight: 700;
  text-align: center;
  margin: 20px 0 0 0;
}
.sign-in form .socials-container div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.sign-in form .socials-container div a {
  text-align: center;
  font-weight: 700;
  padding: 12px 0;
}
.sign-in form .socials-container div a i {
  margin-right: 10px;
  font-size: 18px;
}

footer .socials {
  display: none;
}
