.sign-in {
    width: 540px;
    margin: 80px auto 0 auto;

    @media(max-width: 768px) {
        width: 85%;
    }

    h1 {
        font-size: 40px;
        margin: 0;
        color: white;
    }

    .sign-up-here {
        color: #E2E5F1;
        margin-bottom: 35px;

        a {
            color: #6366F1;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    form {
        label {
            font-weight: 700;
            display: block;
            margin-bottom: 8px;
            color: white;
        }

        .text-input {
            width: 100%;
            padding: 12px 18px;
            border: none;
            outline: 1px solid #9397AD;
            border-radius: 6px;
            margin-bottom: 22px;
            background-color: #0B0F19;
            color: white;

            @media(max-width: 768px) {
                font-size: 14px;
            }
        }

        .field-validation-error {
            color: red;
            margin: -10px 0 24px 0;
            display: block;
        }

        .remember-me-container {
            label {
                display: inline;
                font-weight: 400;
                color: #E2E5F1;
            }
        }

        .error-message {
            color: red;
        }

        .btn {
            display: block;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            margin: 22px 0;
            padding: 12px 0;
            width: 100%;
        }

        .forgot-password-container {
            display: flex;
            justify-content: center;

            a {
                color: #6366F1;
                font-weight: 700;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .socials-container {
            margin-top: 30px;
            border-top: 1px solid #33354D;

            p {
                font-weight: 700;
                text-align: center;
                margin: 20px 0 0 0;
                color: white;
            }

            div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 20px;

                a {
                    text-align: center;
                    font-weight: 700;
                    padding: 12px 0;

                    i {
                        margin-right: 10px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

footer {
    .socials {
        display: none;
    }
}
