.course-heading .course-heading-container {
  width: 1300px;
  margin: auto;
  padding: 25px 0 80px 0;
}
@media (max-width: 1400px) {
  .course-heading .course-heading-container {
    width: 85%;
  }
}
.course-heading .course-heading-container .breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}
@media (max-width: 1400px) {
  .course-heading .course-heading-container .breadcrumbs {
    margin-left: 11px;
  }
}
.course-heading .course-heading-container .breadcrumbs i {
  color: #B4B7C9;
  margin-right: 8px;
}
.course-heading .course-heading-container .breadcrumbs .fa-chevrons-right {
  font-size: 10px;
  margin: 0 14px;
}
.course-heading .course-heading-container .breadcrumbs a {
  color: white;
  font-size: 14px;
}
.course-heading .course-heading-container .breadcrumbs a:hover {
  text-decoration: underline;
}
.course-heading .course-heading-container .breadcrumbs .home {
  color: #B4B7C9;
}
.course-heading .course-heading-container .breadcrumbs p {
  display: inline-block;
  color: white;
  font-size: 14px;
}
.course-heading .course-heading-container .tags {
  display: flex;
}
.course-heading .course-heading-container .tags p {
  padding: 2px 8px;
  background-color: #EFF2FC;
  font-size: 14px;
  color: #33354D;
  margin: 0 8px 0 0;
  border-radius: 4px;
}
.course-heading .course-heading-container .tags .best-seller {
  background-color: #22C55E;
  color: white;
}
.course-heading .course-heading-container h1 {
  font-size: 40px;
  color: white;
  margin: 20px 0 20px 0;
}
.course-heading .course-heading-container p {
  font-size: 18px;
  color: #B4B7C9;
  margin: 0;
}
.course-heading .course-heading-container .info {
  display: flex;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .course-heading .course-heading-container .info {
    display: block;
  }
}
.course-heading .course-heading-container .info i {
  color: #B4B7C9;
  margin-right: 4px;
}
.course-heading .course-heading-container .info p {
  margin-left: 3px;
}
.course-heading .course-heading-container .info div {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
@media (max-width: 768px) {
  .course-heading .course-heading-container .info div {
    justify-content: center;
    margin-bottom: 5px;
  }
}
.course-heading .course-heading-container .info .reviews {
  padding-left: 0;
}
.course-heading .course-heading-container .info .reviews .fa-solid {
  color: #FFBA08;
}
.course-heading .course-heading-container .info .likes {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
}
@media (max-width: 768px) {
  .course-heading .course-heading-container .info .likes {
    border: none;
  }
}
.course-heading .course-heading-container .author {
  display: flex;
  margin-top: 120px;
}
.course-heading .course-heading-container .author img {
  border-radius: 50%;
  width: 60px;
}
.course-heading .course-heading-container .author div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 12px;
}
.course-heading .course-heading-container .author div p {
  font-size: 16px;
  font-weight: 700;
  color: white;
}
.course-heading .course-heading-container .author div .name {
  font-weight: 400;
}

.course-intro .course-intro-container {
  width: 1300px;
  margin: 80px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 35px;
}
@media (max-width: 1400px) {
  .course-intro .course-intro-container {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .course-intro .course-intro-container {
    display: block;
  }
}
.course-intro .course-intro-container p {
  color: #565973;
}
.course-intro .course-intro-container .description-container {
  width: 58%;
}
@media (max-width: 768px) {
  .course-intro .course-intro-container .description-container {
    width: 90%;
    margin: auto;
    text-align: center;
  }
}
.course-intro .course-intro-container .description-container h2 {
  margin: 0 0 20px 0;
}
.course-intro .course-intro-container .description-container h3 {
  font-size: 28px;
  margin: 35px 0 25px 0;
}
.course-intro .course-intro-container .description-container p i {
  color: #6366F1;
  margin-right: 8px;
}
.course-intro .course-intro-container .card {
  padding: 35px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.075);
  border-radius: 5px;
}
@media (max-width: 768px) {
  .course-intro .course-intro-container .card {
    margin-top: 50px;
    text-align: center;
  }
}
.course-intro .course-intro-container .card h4 {
  font-size: 24px;
  margin: 0 0 15px 0;
}
.course-intro .course-intro-container .card p i {
  margin-right: 8px;
}
.course-intro .course-intro-container .card .price {
  font-size: 32px;
  font-weight: 700;
  color: black;
  margin: 30px 0 15px 0;
  display: flex;
  align-items: start;
}
@media (max-width: 768px) {
  .course-intro .course-intro-container .card .price {
    justify-content: center;
  }
}
.course-intro .course-intro-container .card .discounted-price {
  font-size: 32px;
  font-weight: 700;
  color: black;
  margin: 30px 0 15px 0;
  display: flex;
  align-items: start;
}
@media (max-width: 768px) {
  .course-intro .course-intro-container .card .discounted-price {
    justify-content: center;
  }
}
.course-intro .course-intro-container .card .discounted-price span {
  font-size: 20px;
  color: #9397AD;
  text-decoration: line-through;
  font-weight: 400;
  margin: 6px 0 0 10px;
}
.course-intro .course-intro-container .card .btn {
  margin: 0;
  padding: 12px 24px;
  cursor: pointer;
  border: none;
}
.course-intro .course-intro-container .card .leave-course {
  background-color: red;
}

.program-details {
  margin-top: 80px;
}
.program-details .program-details-container {
  width: 1300px;
  margin: auto;
}
@media (max-width: 1400px) {
  .program-details .program-details-container {
    width: 85%;
  }
}
.program-details .program-details-container h2 {
  margin-bottom: 20px;
}
.program-details .program-details-container .details-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 35px;
  align-items: center;
  width: 750px;
}
@media (max-width: 992px) {
  .program-details .program-details-container .details-container {
    width: 100%;
  }
}
.program-details .program-details-container .details-container .number {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0;
  outline: 10px solid #F3F6FF;
  border-radius: 50%;
}
.program-details .program-details-container .details-container div {
  margin: 22px 0;
}
.program-details .program-details-container .details-container div h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.program-details .program-details-container .details-container div p {
  color: #565973;
  margin: 0;
}

.about-the-author {
  margin-top: 50px;
}
.about-the-author .about-the-author-container {
  width: 1300px;
  margin: auto;
  background-color: #0B0F19;
  background-image: url("/images/authorpattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 500px 1fr;
  align-items: center;
  border-radius: 8px;
  padding: 40px 0;
}
@media (max-width: 1400px) {
  .about-the-author .about-the-author-container {
    width: 85%;
    grid-template-columns: 400px 1fr;
  }
}
@media (max-width: 992px) {
  .about-the-author .about-the-author-container {
    grid-template-columns: 250px 1fr;
  }
}
@media (max-width: 768px) {
  .about-the-author .about-the-author-container {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}
.about-the-author .about-the-author-container img {
  margin: auto;
  width: 82%;
  border-radius: 8px;
}
.about-the-author .about-the-author-container .author-info {
  padding: 50px 35px 50px 0;
  margin: auto;
}
@media (max-width: 768px) {
  .about-the-author .about-the-author-container .author-info {
    padding: 35px;
    text-align: center;
  }
}
.about-the-author .about-the-author-container .author-info .learn {
  font-size: 20px;
  color: #8a8b97;
  margin: 0;
}
.about-the-author .about-the-author-container .author-info h2 {
  font-size: 40px;
  color: white;
  margin: 8px 0 12px 0;
}
.about-the-author .about-the-author-container .author-info .bio {
  color: #babbc4;
  margin-bottom: 35px;
}
.about-the-author .about-the-author-container .author-info div {
  display: flex;
}
@media (max-width: 768px) {
  .about-the-author .about-the-author-container .author-info div {
    flex-direction: column;
    align-items: center;
    row-gap: 18px;
  }
}
.about-the-author .about-the-author-container .author-info div .youtube {
  background-color: #EF4444;
  font-size: 14px;
  padding: 12px 24px;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .about-the-author .about-the-author-container .author-info div .youtube {
    margin: 0;
  }
}
.about-the-author .about-the-author-container .author-info div .youtube i {
  font-size: 16px;
  margin-right: 8px;
}
.about-the-author .about-the-author-container .author-info div .facebook {
  background-color: #4C82F7;
  font-size: 14px;
  padding: 12px 24px;
}
.about-the-author .about-the-author-container .author-info div .facebook i {
  font-size: 16px;
  margin-right: 8px;
}
