@model AccountSecurityViewModel

<div id="delete-form" class="delete-form">
    <h3>Delete account</h3>
    <p>When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we'll send you a link to reactivate your account.</p>
    <form method="post" asp-controller="Account" asp-action="Security" asp-fragment="delete-form" onsubmit="deleteAccountSubmit()" novalidate>
        <input type="hidden" asp-for="DeleteAccountForm.DeleteAccountFormValue" />
        <input asp-for="DeleteAccountForm.ConfirmDelete" />
        <label asp-for="DeleteAccountForm.ConfirmDelete"></label>
        <span asp-validation-for="DeleteAccountForm.ConfirmDelete"></span>
        <p class="error-message">
            @ViewData["DeleteAccountErrorMessage"]
        </p>
        <div class="btn-container">
            <button type="submit" class="btn">Delete</button>
        </div>
    </form>
</div>