@inject UserService _userService

@{
    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light"; /* Hämta in theme läget från cookien, och sätter variabeln till light om cookien inte finns */
    bool isDark = (themeMode == "dark");
}

<div class="header-container">
    <nav>
        <div class="nav-container">
            <a class="logo" asp-controller="Home" asp-action="Index"><img src="~/images/logo@(isDark ? "_darkmode" : "").svg" alt="Logo"></a>
            <a class="nav-links" asp-controller="Home" asp-action="Index" asp-fragment="overview">Overview</a>
            @if (!_userService.IsUserSignedIn(User)) @* Om användaren INTE är inloggad så renderas följande *@
            {
                <a class="nav-links" asp-controller="Home" asp-action="Index" asp-fragment="features">Features</a>
            }
            else @* Annars renderas detta *@
            {
                <a class="nav-links" asp-controller="Courses" asp-action="Index">Courses</a>
            }
            <a class="nav-links" asp-controller="Contact" asp-action="Index">Contact</a>
        </div>
    </nav>
    <nav>
        <div class="nav-container">
            <p>Light</p>
            <label class="switch">
                <input id="theme-switch" type="checkbox" checked=@isDark> @* Om det är dark theme så sätts den som bockad när den laddas in *@
                <span class="slider round"></span>
            </label>
            <p>Dark</p>
            @if (!_userService.IsUserSignedIn(User))
            {
                <a class="btn light" asp-controller="Account" asp-action="SignIn"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                <a class="btn" asp-controller="Account" asp-action="SignUp"><i class="fa-regular fa-user"></i>Sign up</a>
            }
            else
            {
                <a class="avi-button" asp-controller="Account" asp-action="Details"><img class="avi" src="~/images/profile-pic.png"></a>
            }
            <button onclick=toggleMenu()><i class="fa-solid fa-bars"></i></button>
        </div>
    </nav>
</div>
<div id="menu" class="header-container mobile">
    <nav>
        <div class="nav-container">
            <a class="nav-links" asp-controller="Home" asp-action="Index" asp-fragment="overview">Overview</a>
            @if (!_userService.IsUserSignedIn(User))
            {
                <a class="nav-links" asp-controller="Home" asp-action="Index" asp-fragment="features">Features</a>
            }
            else
            {
                <a class="nav-links" asp-controller="Courses" asp-action="Index">Courses</a>
            }
            <a class="nav-links" asp-controller="Contact" asp-action="Index">Contact</a>
            <div class="switch-container">
                <p>Light</p>
                <label class="switch">
                    <input id="theme-switch-mobile" type="checkbox" checked=@isDark>
                    <span class="slider round"></span>
                </label>
                <p>Dark</p>
            </div>
            @if (!_userService.IsUserSignedIn(User))
            {
                <a class="btn light" asp-controller="Account" asp-action="SignIn"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                <a class="btn" asp-controller="Account" asp-action="SignUp"><i class="fa-regular fa-user"></i>Sign up</a>
            }
            else
            {
                <a class="avi-button" asp-controller="Account" asp-action="Details"><img class="avi" src="~/images/profile-pic.png"></a>
            }
        </div>
    </nav>
</div>