<div class="header-container">
    <nav>
        <div class="nav-container">
            <img src="~/images/logo.svg" alt="Logo">
            <a class="nav-links" href="">Overview</a>
            <a class="nav-links" href="">Features</a>
            <a class="nav-links" href="">Contact</a>
        </div>
    </nav>
    <nav>
        <div class="nav-container">
            <p>Light</p>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <p>Dark</p>
            @if (true)
            {
                <a class="btn light" href=""><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                <a class="btn" href=""><i class="fa-regular fa-user"></i>Sign up</a>
            }
            else
            {
                <img class="avi" src="~/images/profile-pic.png">
            }
            <button onclick=toggleMenu()><i class="fa-solid fa-bars"></i></button>
        </div>
    </nav>
</div>
<div id="menu" class="header-container mobile">
    <nav>
        <div class="nav-container">
            <a class="nav-links" href="">Overview</a>
            <a class="nav-links" href="">Features</a>
            <a class="nav-links" href="">Contact</a>
            <div class="switch-container">
                <p>Light</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <p>Dark</p>
            </div>
            @if (true)
            {
                <a class="btn light" href=""><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                <a class="btn" href=""><i class="fa-regular fa-user"></i>Sign up</a>
            }
            else
            {
                <img class="avi" src="~/images/profile-pic.png">
            }
        </div>
    </nav>
</div>