<div class="header-container">
    <nav>
        <div class="nav-container">
            <img src="~/images/logo.svg">
            <a href="">Overview</a>
            <a href="">Features</a>
            <a href="">Contact</a>
        </div>
    </nav>
    <nav>
        <div class="nav-container">
            <p>Light</p>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <p>Dark</p>
            <a class="sign-in" href=""><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
            <a class="sign-in sign-up" href=""><i class="fa-regular fa-user"></i>Sign up</a>
            <button onclick=toggleMenu()><i class="fa-solid fa-bars"></i></button>
        </div>
    </nav>
</div>
<div id="menu" class="header-container mobile">
    <nav>
        <div class="nav-container">
            <a href="">Overview</a>
            <a href="">Features</a>
            <a href="">Contact</a>
            <div class="switch-container">
                <p>Light</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <p>Dark</p>
            </div>
            <a class="sign-in" href=""><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
            <a class="sign-in sign-up" href=""><i class="fa-regular fa-user"></i>Sign up</a>
        </div>
    </nav>
</div>