<section class="courses">
    <div class="breadcrumbs">
        <i class="fa-regular fa-house"></i>
        <a href="">Home</a>
        <i class="fa-regular fa-chevrons-right"></i>
        <p>Courses</p>
    </div>
    <div class="heading-and-categories">
        <h1>Courses</h1>
        <div class="inputs">
            <div class="select-container">
                <select>
                    <option value="" disabled selected>All categories</option>
                </select>
            </div>
            <div class="input-container">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search courses">
            </div>
        </div>
    </div>
    <div class="courses-grid">
        <div class="grid-container">
            <div class="best-seller">Best Seller</div>
            <button><i class="fa-regular fa-bookmark"></i></button>
            <img src="~/images/writing-on-laptop.png" alt="Writing on laptop">
            <a href="" class="content-container">
                <h3>Fullstack Web Developer Course from Scratch</h3>
                <p class="author">By Robert Fox</p>
                <p class="price">$12.50</p>
                <div>
                    <i class="fa-regular fa-clock"></i>
                    <p>220 hours</p>
                    <i class="fa-regular fa-thumbs-up"></i>
                    <p>94% (4.2K)</p>
                </div>
            </a>
        </div>
        <div class="grid-container">
            <button><i class="fa-regular fa-bookmark"></i></button>
            <img src="~/images/writing-on-laptop.png" alt="Writing on laptop">
            <a href="" class="content-container">
                <h3>Fullstack Web Developer Course from Scratch</h3>
                <p class="author">By Robert Fox</p>
                <p class="price">$12.50</p>
                <div>
                    <i class="fa-regular fa-clock"></i>
                    <p>220 hours</p>
                    <i class="fa-regular fa-thumbs-up"></i>
                    <p>94% (4.2K)</p>
                </div>
            </a>
        </div>
        <div class="grid-container">
            <button><i class="fa-regular fa-bookmark"></i></button>
            <img src="~/images/writing-on-laptop.png" alt="Writing on laptop">
            <a href="" class="content-container">
                <h3>Fullstack Web Developer Course from Scratch</h3>
                <p class="author">By Robert Fox</p>
                <p class="price">$12.50</p>
                <div>
                    <i class="fa-regular fa-clock"></i>
                    <p>220 hours</p>
                    <i class="fa-regular fa-thumbs-up"></i>
                    <p>94% (4.2K)</p>
                </div>
            </a>
        </div>
        <div class="grid-container">
            <button><i class="fa-regular fa-bookmark"></i></button>
            <img src="~/images/writing-on-laptop.png" alt="Writing on laptop">
            <a href="" class="content-container">
                <h3>Fullstack Web Developer Course from Scratch</h3>
                <p class="author">By Robert Fox</p>
                <p class="price">$12.50</p>
                <div>
                    <i class="fa-regular fa-clock"></i>
                    <p>220 hours</p>
                    <i class="fa-regular fa-thumbs-up"></i>
                    <p>94% (4.2K)</p>
                </div>
            </a>
        </div>
        <div class="grid-container">
            <button><i class="fa-regular fa-bookmark"></i></button>
            <img src="~/images/writing-on-laptop.png" alt="Writing on laptop">
            <a href="" class="content-container">
                <h3>Fullstack Web Developer Course from Scratch</h3>
                <p class="author">By Robert Fox</p>
                <p class="price">$12.50</p>
                <div>
                    <i class="fa-regular fa-clock"></i>
                    <p>220 hours</p>
                    <i class="fa-regular fa-thumbs-up"></i>
                    <p>94% (4.2K)</p>
                </div>
            </a>
        </div>
        <div class="grid-container">
            <button><i class="fa-regular fa-bookmark"></i></button>
            <img src="~/images/writing-on-laptop.png" alt="Writing on laptop">
            <a href="" class="content-container">
                <h3>Fullstack Web Developer Course from Scratch</h3>
                <p class="author">By Robert Fox</p>
                <p class="price">$12.50</p>
                <div>
                    <i class="fa-regular fa-clock"></i>
                    <p>220 hours</p>
                    <i class="fa-regular fa-thumbs-up"></i>
                    <p>94% (4.2K)</p>
                </div>
            </a>
        </div>
        <div class="grid-container">
            <button><i class="fa-regular fa-bookmark"></i></button>
            <img src="~/images/writing-on-laptop.png" alt="Writing on laptop">
            <a href="" class="content-container">
                <h3>Fullstack Web Developer Course from Scratch</h3>
                <p class="author">By Robert Fox</p>
                <p class="price">$12.50</p>
                <div>
                    <i class="fa-regular fa-clock"></i>
                    <p>220 hours</p>
                    <i class="fa-regular fa-thumbs-up"></i>
                    <p>94% (4.2K)</p>
                </div>
            </a>
        </div>
        <div class="grid-container">
            <button><i class="fa-regular fa-bookmark"></i></button>
            <img src="~/images/writing-on-laptop.png" alt="Writing on laptop">
            <a href="" class="content-container">
                <h3>Fullstack Web Developer Course from Scratch</h3>
                <p class="author">By Robert Fox</p>
                <p class="price">$12.50</p>
                <div>
                    <i class="fa-regular fa-clock"></i>
                    <p>220 hours</p>
                    <i class="fa-regular fa-thumbs-up"></i>
                    <p>94% (4.2K)</p>
                </div>
            </a>
        </div>
        <div class="grid-container">
            <button><i class="fa-regular fa-bookmark"></i></button>
            <img src="~/images/writing-on-laptop.png" alt="Writing on laptop">
            <a href="" class="content-container">
                <h3>Fullstack Web Developer Course from Scratch</h3>
                <p class="author">By Robert Fox</p>
                <p class="price">$12.50</p>
                <div>
                    <i class="fa-regular fa-clock"></i>
                    <p>220 hours</p>
                    <i class="fa-regular fa-thumbs-up"></i>
                    <p>94% (4.2K)</p>
                </div>
            </a>
        </div>
    </div>
    <div class="pagnation">
        <a href=""><i class="fa-solid fa-chevron-left"></i></a>
        <a href="">1</a>
        <a class="previous" href="">2</a>
        <a class="active" href="">3</a>
        <a href="">4</a>
        <a href=""><i class="fa-solid fa-chevron-right"></i></a>
    </div>
</section>