<section class="work-with-us">
    <div class="work-with-us-container">
        <div class="flex">
            <div class="flex-container">
                <p>Ready to get started?</p>
                <h2>Take Your <span>Skills</span> to the Next Level</h2>
                <a href="" class="btn">Work with us</a>
            </div>
        </div>
        <img src="~/images/illustration.svg" alt="Illustration">
    </div>
</section>