<section class="saved-courses">
    <div class="heading-and-delete">
        <h1>Saved Items</h1>
        <div class="delete-container">
            <button class="btn"><i class="fa-regular fa-trash"></i>Delete all</button>
        </div>
    </div>
    <div class="courses-grid">
        <div class="grid-container">
            <div class="best-seller">Best Seller</div>
            <button title="Remove"><i class="fa-solid fa-bookmark"></i></button>
            <img src="~/images/writing-on-laptop.png" alt="Writing on laptop">
            <a href="" class="content-container">
                <h3>Fullstack Web Developer Course from Scratch</h3>
                <p class="author">By Robert Fox</p>
                <p class="price">$12.50</p>
                <div>
                    <i class="fa-regular fa-clock"></i>
                    <p>220 hours</p>
                    <i class="fa-regular fa-thumbs-up"></i>
                    <p>94% (4.2K)</p>
                </div>
            </a>
        </div>
        <div class="grid-container">
            <button title="Remove"><i class="fa-solid fa-bookmark"></i></button>
            <img src="~/images/writing-on-laptop.png" alt="Writing on laptop">
            <a href="" class="content-container">
                <h3>Fullstack Web Developer Course from Scratch</h3>
                <p class="author">By Robert Fox</p>
                <p class="price">$12.50</p>
                <div>
                    <i class="fa-regular fa-clock"></i>
                    <p>220 hours</p>
                    <i class="fa-regular fa-thumbs-up"></i>
                    <p>94% (4.2K)</p>
                </div>
            </a>
        </div>
        <div class="grid-container">
            <button title="Remove"><i class="fa-solid fa-bookmark"></i></button>
            <img src="~/images/writing-on-laptop.png" alt="Writing on laptop">
            <a href="" class="content-container">
                <h3>Fullstack Web Developer Course from Scratch</h3>
                <p class="author">By Robert Fox</p>
                <p class="price">$12.50</p>
                <div>
                    <i class="fa-regular fa-clock"></i>
                    <p>220 hours</p>
                    <i class="fa-regular fa-thumbs-up"></i>
                    <p>94% (4.2K)</p>
                </div>
            </a>
        </div>
    </div>
</section>