<section class="not-found">
    <img src="~/images/404.svg" alt="404">
    <h1>Ooops!</h1>
    <p>The page you are looking for is not available.</p>
    <a class="btn" asp-controller="Home" asp-action="Index"><i class="fa-regular fa-house"></i>Go to homepage</a>
</section>