<section class="contact">
    <div class="contact-container">
        <div class="breadcrumbs">
            <i class="fa-regular fa-house"></i>
            <a class="home" asp-controller="Home" asp-action="Index">Home</a>
            <i class="fa-regular fa-chevrons-right"></i>
            <p>Contact</p>
        </div>
        <div class="contact-us">
            <div class="contact-us-container">
                <h1>Contact Us</h1>
                <div class="info">
                    <i class="fa-regular fa-envelope"></i>
                    <div>
                        <h4>Email us</h4>
                        <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                        <a href="">Leave a message<i class="fa-regular fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="info">
                    <i class="fa-regular fa-user-plus"></i>
                    <div>
                        <h4>Careers</h4>
                        <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                        <a href="">Send an application<i class="fa-regular fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="contact-form">
                <div class="contact-form-container">
                    <h2>Get In Contact With Us</h2>
                    <form>
                        <label for="name">Full name</label>
                        <input type="text" id="name" name="name" placeholder="Enter your full name">
                        <label for="email">Email address</label>
                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                        <label for="service">Service <span>(optional)</span></label>
                        <select id="service" name="service">
                            <option value="" disabled selected>Choose the service you are interested in</option>
                        </select>
                        <label for="message">Message</label>
                        <textarea id="message" name="message" placeholder="Enter your message here..."></textarea>
                        <button class="btn">Send Contact Request</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>