@model ContactViewModel

<section class="contact">
    <div class="contact-container">
        <div class="breadcrumbs">
            <i class="fa-regular fa-house"></i>
            <a class="home" asp-controller="Home" asp-action="Index">Home</a>
            <i class="fa-regular fa-chevrons-right"></i>
            <p>Contact</p>
        </div>
        <div class="contact-us">
            <div class="contact-us-container">
                <h1>Contact Us</h1>
                <div class="info">
                    <i class="fa-regular fa-envelope"></i>
                    <div>
                        <h4>Email us</h4>
                        <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                        <a href="">Leave a message<i class="fa-regular fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="info">
                    <i class="fa-regular fa-user-plus"></i>
                    <div>
                        <h4>Careers</h4>
                        <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                        <a href="">Send an application<i class="fa-regular fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="contact-form">
                <div class="contact-form-container">
                    <h2>Get In Contact With Us</h2>
                    <form method="post" asp-controller="Contact" asp-action="Index" novalidate>
                        <label asp-for="Form.FullName"></label>
                        <input asp-for="Form.FullName" class="text-input" />
                        <span asp-validation-for="Form.FullName"></span>
                        <label asp-for="Form.Email"></label>
                        <input asp-for="Form.Email" class="text-input" />
                        <span asp-validation-for="Form.Email"></span>
                        <label asp-for="Form.Service">Service <span>(optional)</span></label>
                        <select asp-for="Form.Service" asp-items="Model.Form.ServiceItems"></select>
                        <label asp-for="Form.Message"></label>
                        <textarea asp-for="Form.Message" class="text-input"></textarea>
                        <span asp-validation-for="Form.Message"></span>
                        <button type="submit" class="btn">Send Contact Request</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>